* {
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.center-image {
  display: flex;
  justify-content: center; /* horizontally center */
  align-items: center; /* vertically center */
  height: 150px;
  width: 100%;
  margin: 0px;
}

.center-image img {
  max-width: 100%;
  max-height: 100%;
  margin: 0px;
}

.heading {
  align-items: left;
  font-weight: bold;
  margin-bottom: 3px;
}

.text-center {
  margin-top: 20px;
  text-align: center;
}

.machine {
  display: flex;
  justify-content: center; /* horizontally center */
  align-items: center; /* vertically center */
  /* height: 100%;
  width: 100%; */
}

.machine img {
  max-width: 80%;
  max-height: 80%;
}

.main-body {
  font-family: "Andada Pro", serif;
  font-size: 1.2rem;
  background-image: linear-gradient(to bottom, white, #fff9b1);
  height: 230vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.bold {
  font-weight: bold;
}

span {
  color: #ec3237;
  font-weight: bold;
}

.grid-class {
  margin: 0px;
}

.trophy {
  height: 35%;
}

.trophygrid {
  max-height: 60%;
  padding: 0px;
  margin: 0px;
}

.prizegrid {
  max-height: 60%;
  padding: 0px;
  margin: 0px;
}

.award {
  height: 25%;
}

grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
